{% extends 'base.html.twig' %}

{% block title %}
    {{'title_author_details'|trans({'%id%': author.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{'title_author_details'|trans({'%id%': author.id|default('')}) }}</h1>
    {% if author is defined and author|length %}
        <dl class="dl-horizontal">
            <dt>{{'label_id'|trans}}</dt>
            <dd>{{ author.id|trans }}</dd>
            <dt>{{'label_created_at'|trans}}</dt>
            <dd>{{ author.createdAt|format_date('long') }}</dd>
            <dt>{{'label_updated_at'|trans}}</dt>
            <dd>{{ author.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label_name'|trans }}</dt>
            <dd>{{ author.name }}</dd>
        </dl>

        <button type="button" class="btn btn-light">
            <a href="{{ url('author_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </button>

    {% else %}
        <p>
            {{ 'message_empty_list' | trans}}
        </p>


    {% endif %}
{% endblock %}