{% extends 'base.html.twig' %}

{% block title %}
    {{'title_record_view'|trans({'%id%': item.id}) }}
{% endblock %}

{% block body %}
    <h1>{{'title_record_view'|trans({'%id%': item.id|default('')}) }}</h1>
    {% if item is defined and item|length %}
        <dl>
            <dt>{{'label_title'|trans}}</dt>
            <dd>{{ item.title|trans }}</dd>
            <dt>{{'label_content'|trans}}</dt>
            <dd>{{ item.content|trans }}</dd>
            <dt>{{'label_tags'|trans}}</dt>
            <dd>{{ item.tags|join(', ') }}</dd>
            <dt><a href="{{ url('record_index') }}" title="{{ 'action_back_to_list'|trans }}">
                    {{ 'action_back_to_list'|trans }}
                </a>
            </dt>
        </dl>
    {% else %}
        <p>
            {{ 'message_not_found' | trans}}
        </p>
    {% endif %}
{% endblock %}