{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_comment_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_comment_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'comment.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_created_at'|trans, 'comment.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_updated_at'|trans, 'comment.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_content'|trans, 'comment.content') }}</th>
                <th>{{ 'label_user'|trans}}</th>
                <th>{{ 'label_book' |trans}}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in pagination.items %}
                <tr>
                    <td>{{ comment.id }}</td>
                    <td>{{ comment.createdAt|format_date('long', locale='en') }}</td>
                    <td>{{ comment.updatedAt|format_date('long') }}</td>
                    <td>{{ comment.content }}</td>
                    <td>{{ comment.user.username }}</td>
                    <td>{{ comment.book.title }}</td>
                    <td>
                        <a href="{{ url('comment_show', {id: comment.id}) }}" title="{{ 'action_view'|trans }}">
                            {{ 'action_view'|trans }}
                        </a>
                        {{  " | "  }}
                        <a href="{{  url('comment_edit', {id: comment.id}) }}" title="{{  'action_edit'|trans }}">
                            {{'action_edit'|trans}}
                        </a>
                        {{  " | "  }}
                        <a href="{{ url('comment_delete', {id: comment.id}) }}" title="{{ 'action_delete'|trans }}">
                            {{ 'action_delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% if is_granted('ROLE_USER') %}
        <div class="navigation text-center">
            <button type="button" class="btn btn-light">
                <a href="{{ url('comment_create') }}" title="{{ 'title_comment_create'|trans }}">
                    {{ 'title_comment_create'|trans }}
                </a>
            </button>
        </div>
    {% endif %}



    {% else %}
        {%  include 'default/_single_flash_message.html.twig' with{
            type: 'warning',
            message: 'message_empty_list'|trans
        } %}

    {% if is_granted('ROLE_USER') %}
        <div class="navigation text-center">
            <button type="button" class="btn btn-light">
                <a href="{{ url('comment_create') }}" title="{{ 'title_comment_create'|trans }}">
                    {{ 'title_comment_create'|trans }}
                </a>
            </button>
        </div>
    {% endif %}

    {% endif %}
{% endblock %}