{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_book_details'|trans({'%id%': book.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_book_details'|trans({'%id%': book.id|default('')}) }}</h1>
    {% if book is defined and book|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ book.id }}</dd>
            <dt>{{ 'label_created_at'|trans }}</dt>
            <dd>{{ book.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label_updated_at'|trans }}</dt>
            <dd>{{ book.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{  book.title }}</dd>
            <dt>{{ 'label_author'|trans }}</dt>
            <dd>{{  book.author.name }}</dd>
            <dt>{{ 'label_category'|trans }}</dt>
            <dd>{{  book.category.title }}</dd>
            <dt>{{ 'label_tags'|trans }}</dt>
            <dd> {% if book.tags is defined and book.tags|length %}
                    {%  for tag in book.tags %}
                        {{ tag.title }}
                    {%  endfor %}
                {%  else %}
                    {{ "brak tagów" }}
                {% endif %}
            </dd>
            <dt>{{ 'label_comment'|trans }}</dt>


            <tbody>
            {% if book.comments is defined and book.comments|length %}
{#                {%  for comment in book.comments %}#}

                    <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'label_created_at'|trans }}</th>
                        <th>{{ 'label_updated_at'|trans }}</th>
                        <th>{{ 'label_content'|trans }}</th>
                        <th>{{ 'label_user'|trans}}</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th>{{ 'label_actions'|trans }}</th>
                        {% endif %}
                    </tr>
                    </thead>
            <tbody>
                {%  for comment in book.comments %}
                <tr>
                    <td>{{ comment.createdAt|format_date('long', locale='en') }}</td>
                    <td>{{ comment.updatedAt|format_date('long') }}</td>
                    <td>{{ comment.content }}</td>
                    <td>{{ comment.nick }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{  url('comment_edit', {id: comment.id}) }}" title="{{  'action_edit'|trans }}">
                                {{'action_edit'|trans}}
                            </a>
                            {{  " | "  }}
                            <a href="{{ url('comment_delete', {id: comment.id}) }}" title="{{ 'action_delete'|trans }}">
                                {{ 'action_delete'|trans }}
                            </a>
                        </td>
                    {% endif %}
                </tr>
                    {% endfor %}
                    </table>
{#            {% endfor %}#}
            </tbody>
            {% else %}
                {{ 'brak komentarzy' }}
            {% endif %}



        <p>
            <br><br>
            <a href="{{ url('book_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>

{#    {% if is_granted('ROLE_USER') %}#}
{#        <div class="row">#}
{#            <div class="col-sm-12">#}
{#                <div class="navigation text-center">#}
{#                    <button type="submit" class="btn btn-light">#}
{#                        <a href="{{ url('comment_create') }}" title="{{ 'title_comment_create'|trans }}">#}
{#                            {{ 'title_comment_create'|trans }}#}
{#                        </a>#}
{#                    </button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}

    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}

{% endblock %}