{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_book_details'|trans({'%id%': book.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_book_details'|trans({'%id%': book.id|default('')}) }}</h1>
    {% if book is defined and book|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ book.id }}</dd>
            <dt>{{ 'label_created_at'|trans }}</dt>
            <dd>{{ book.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label_updated_at'|trans }}</dt>
            <dd>{{ book.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{  book.title }}</dd>
            <dt>{{ 'label_author'|trans }}</dt>
            <dd>{{  book.author.name }}</dd>
            <dt>{{ 'label_category'|trans }}</dt>
            <dd>{{  book.category.title }}</dd>
            <dt>{{ 'label_tags'|trans }}</dt>
            <dd> {% if book.tags is defined and book.tags|length %}
                    {%  for tag in book.tags %}
                        {{ tag.title }}
                    {%  endfor %}
                {%  else %}
                    {{ "brak tagów" }}
                {% endif %}
            </dd>
        </dl>

        <p>
            <a href="{{ url('book_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>

        <div class="row">
            <div class="col-sm-12">
                <div class="navigation text-center">
                    <button type="submit" class="btn btn-light">
                        <a href="{{ url('comment_create') }}" title="{{ 'title_comment_create'|trans }}">
                            {{ 'title_comment_create'|trans }}
                        </a>
                    </button>
                </div>
            </div>
        </div>

        <h3><i class="pr-3 fa fa-comment"></i>{{ book.comments|length }} Comments</h3>

            {% for comment in book.comments %}
            <div class="row">
            <div class="col-sm-12">
                <div class="comment-container d-inline-block pl-3 align-top">
                    <span class="commenter-name"><b>{{ comment.userName }}</b></span>
                    <dd><small>{{ book.createdAt|format_date('long') }}</small></dd>
                    <span class="comment"> {{ comment.content }}</span>
                    <p><a href="#">Reply</a></p>
                </div>
            </div>
            </div>
        {% endfor %}


    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}

{% endblock %}

